body.with-sidebar {
    margin-left: 16%;
    width: 80%;

}

body.without-sidebar {
    margin-left: 8%;
    width: 84%;
}

mat-card {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    display: inline-block;
    justify-content: space-between;
}

mat-form-field{
    padding: 5px;
}

.float-right{
    float: right;
}

table{
    width: 100%;
}

mat-card{
    padding-bottom: 30px !important;
}

mat-hint{
    color: red;
}

.line{
    display: flex;
}
mat-form-field{
    flex: auto;
}
