mat-toolbar{
    margin-bottom: 10px;
    width: auto;
}

mat-form-field{
    padding: 5px;
}

mat-hint{
    color: red;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding-right: 10px;
}

::ng-deep mat-form-field {
    width: 100%;
}