<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>{{dialogData.action}} Category</span>
        <span class="example-spacer"></span>
        <button class="mat-icon-button" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="categoryForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Name</mat-label>
                    <input class="input" matInput formControlName="name" required>
                    <mat-error *ngIf="categoryForm.controls.name.touched || categoryForm.controls.name.invalid">
                        <span *ngIf="categoryForm.controls.name.errors.required">This Field is Required</span>
                        <span *ngIf="categoryForm.controls.name.errors.invalid">Invalid Value</span>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="submit" mat-raised-button color="primary" (click)="handelSubmit()" [disabled]="!(categoryForm.valid && categoryForm.dirty)" >
        <mat-icon>save</mat-icon> {{action}}
    </button>

    <button mat-raised-button matDialogClose color="acent"><mat-icon>close</mat-icon>Close</button>
</mat-dialog-actions>