<mat-toolbar class="custom-toolbar">
    <button mat-icon-button 
            class="neumorphic-button example-icon" 
            aria-label="Toggle Sidebar" 
            (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>LMS</span>
    <span class="example-spacer"></span>
    <button mat-icon-button 
            class="neumorphic-button notification-icon" 
            aria-label="Notifications">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-button 
            routerLink="/profile" 
            routerLinkActive="active" 
            class="neumorphic-button">
        Profile
    </button>
</mat-toolbar>
