<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Login</span>
        <span class="example-spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography dialog-content">
    <form [formGroup]="loginForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required>
                <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
                    <span *ngIf="loginForm.controls.username.errors?.required">This Field is mandatory</span>
                    <span *ngIf="loginForm.controls.username.errors?.invalid">Invalid Value</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="'password'">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                    <span *ngIf="loginForm.controls.password.errors?.required">This field is Mandatory</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<div class="action-buttons">
    <button mat-raised-button color="primary" type="submit" (click)="handelSubmit()"
        [disabled]="!(loginForm.valid && loginForm.dirty)">
        <mat-icon>save</mat-icon> Login
    </button>

    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Cancel
    </button>
</div>