<body>
    <div class="main-body">
        <div class="intro">
            <h1>Welcome to Flexi Shop</h1>
            <p>Your perfect Shop management solution</p>
            <button id="explore-button">Explore More</button>
        </div>
        <div class="image-gallery">
            <img src="../../../assets/img/supermarket-products-cartoon-vector-22713310-removebg.png" alt="Cafe Image 2">
            <img src="../../../assets/img/school-1555910_640.png" alt="Cafe Image 3">
            <img src="../../../assets/img/cash-in-1874748_640-removebg-preview (1).png" alt="Cafe Image 1">
        </div>
    </div>
    <footer class="footer">
        <p>Developed by Arindam Karmakar</p>
        <p>Education: MCA</p>
        <p>Technology Used: Angular 17, Java Spring Boot, MySQL</p>
        <p>Created on April - June 2024</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/your-profile" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174848.png" alt="Facebook">
            </a>
            <a href="https://www.linkedin.com/in/your-profile" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/your-profile" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt="GitHub">
            </a>
        </div>
    </footer>
</body>