body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.main-body {
    text-align: center;
    background: #EAE7DC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.intro {
    margin-bottom: 20px;
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.intro p {
    font-size: 1.2em;
    color: #666;
}

#explore-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#explore-button:hover {
    background-color: #0056b3;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
}

.image-gallery img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


.image-gallery img:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 0;
}

.footer a {
    color: #ecdbff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: #f39c12;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.footer .social-icons a img {
    width: 24px;
    height: 24px;
}